body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.holder{
  background:#f1f1f1;
  border-radius: 10px;
  color:black;
  padding:10px;
  width:100%;
}
table tr td{
  padding:5px;
}
imgh{
text-align:center;
}
pl{
margin-left:10px!important;
}
.displayPlayersTable td{
border: 1px dashed #f1f1f1;
font-weight:bold;
}